
#tag_editor {
  background: #fff url(../images/input-background.gif) repeat-x scroll center top;
  border: 1px solid #bbb;
  color: #222;
  cursor: text;
  height: auto;
  margin: 0;
  min-height: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0 0;
  width: 95%;
}

#tag_editor .token {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  background-color: #C8E796;
  color: #111;
  font-size: 12px;
  float: left;
  margin: 0 2px 4px;
  padding: 0px 5px;
}

#tag_editor .token:hover {
  background-color: #B4DF6F;
}

#tag_editor .token a {
  color: #749440;
  font-weight: bold;
  margin-left: 5px;
  text-decoration: none;
}

#tag_editor input {
  background-color: #fff;
  border: 0 none;
  color: #111;
  margin: 2px 0 5px 5px;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: 0;
  overflow: visible;
  padding: 0 0 0 .5em;
}
